/*
*= require bootstrap/css/bootstrap
*= require bootstrap/css/bootstrap-theme
*= require animate
*= require_self
*= require sweetalert
*= require fileinput
*/


.row {
  margin-top: 4px !important;
  margin-right: -15px !important;
  margin-left: -15px !important;
  min-height: 100% !important;
  height: 100% !important;
  padding: 0 0 0px !important;
}



body {
  background: #ffffff;
  color: #333333;
  margin: 0 auto;
  max-width: 100% !important;
  min-height: 100% !important;
  overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
  -moz-box-shadow: 0 0 0.3em #1995dc;
 // -webkit-box-shadow: 0 0 0.3em #1995dc;
  font-size: 13px !important;
}
.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.area-nuovaPolizza {
  margin-left: 54px !important;
}
.area-ricerca{
  padding-left: 0px !important;
  margin-bottom: 40px !important;
}
.btn {
  background-color: #1995dc !important;
  border-color: #1995dc !important;
  color: white !important;
  padding: 10px 11px !important;
}
.btnLog {
  background-color: #88c149 !important;
  border-color: #88c149 !important;
  color: white !important;
  padding: 9px 11px !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
}
.btn-success:hover, .btn-success:focus {
  background-color: #88c149 !important;
  background-position: 0 20px !important;
}
.btn-annulla {
  background-color: #9a161a !important;
  border-color: #911419 !important;
  color: #fff !important;
  padding: 9px 11px !important;
}
.btn-annulla:hover, .btn-annulla:focus {
  background-color: #9a161a !important;
  background-position: 0 20px !important;
}
.btn-login{
  width: 100% !important;
}
.testofooter{
  font-family: sans-serif  !important;
  font-size: 0.75em;
  color: #555 !important;
}
.input:invalid, .select:invalid, .textarea:invalid {
  background: #fff !important;
  border-color: transparent !important;
  color: #fff !important;
}

.nav {
  background-color: transparent !important;
  padding: 0px !important;
  border-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 0px #1995dc !important;
}
.navbar-nav > li > a {
  padding-top: 22px !important;
  padding-bottom: 21px !important;
}
.testo-navBarTitolo{
  color: #fff !important;
  margin-left: 10px !important;
}
.input-login{
  border-radius: 6px !important;
  margin-bottom: 10px !important;
  outline: 0px !important;
  -webkit-appearance: none;
}

.input-group .form-control:last-child{
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.modal-header{
  background: #1995dc !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  padding: 9px !important;
}
.radio label, .checkbox label {
  font-weight: bold !important;
  align-items: inherit !important;
}


.modal.modal-wide .modal-dialog {
  width: 60%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
.modal-normal .modal-body {
   overflow-y: auto;
 }
.modal-content1 .modal-body {
  overflow-y: auto;
}

//#modalPolizza .modal-body p { margin-bottom: 900px; }

.datepicker table tr td.today {
  color: #000 !important;
  background-color: #1995dc !important;
  border-color: #1995dc !important;
}

.maiuscola
{
  text-transform:uppercase !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff !important;
  background-color: #1995dc !important;
  border-color: #1995dc !important;
}
.avviso{
  background-color: red !important;
  color: white !important;
  padding: 20px !important;
  font-size: 15px !important;
  padding: 20px !important;
  border-radius: 10px !important;
  margin-bottom: 15px !important;
}
.errore{
  background-color: red !important;
  color: white !important;
  padding: 20px !important;
  font-size: 15px !important;
  padding: 20px !important;
  border-radius: 10px !important;
  margin-bottom: 15px !important;
}
.legenda{
  font-size: 15px !important;
  margin-bottom: 10px !important;
  font-weight: bolder;
}
.legendaTabs{
  background-color: #1995dc !important;
  border-color: #1995dc !important;
  color: white !important;
  font-size: 15px !important;
  margin-bottom: 10px !important;
  font-weight: bolder;
}
.testoParagraph{
  font-size: 13px !important;
}
.alert-login{
  background-color: #1995dc !important;
  border-color: #1995dc !important;
  color: white !important;
}
.sweet-alert button {
  //background-color: #1995dc !important;
  //border-color: #1995dc !important;
  color: white !important;
}
.sweet-alert button.cancel{
  background-color: #9a161a !important;
}
.sweet-alert button.cancel:hover{
  background-color: #9a161a !important;
}

.chk-login{
  margin-left: 8px !important;
  margin-bottom: 10px !important;
}
.alert-info {
  color: #31708f !important;
  background-color: #d9edf7 !important;
  border-color: #bcdff1 !important;
}
.label-info {
  color: #31708f !important;
  background-color: #d9edf7 !important;
  border-color: #bcdff1 !important;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.bs-example{
  //margin: 20px !important;
}
.nav-tabs {
  border-bottom: 1px solid #ddd !important;
}

.testoCommenti{
  border: 1px solid #cccccc !important;
  border-radius: 4px !important;
  height: 38px !important;
}
.btnDisabled{
  background-color: grey!important;
  border-color: grey!important;
  color: #fff !important;
  padding: 9px 11px !important;
}
.btnSalvaDisabled{
  background-color: grey!important;
  border-color: grey!important;
  color: #fff !important;
  padding: 9px 11px !important;
}
.vertical-alignment-helper {
  display:table!important;
  height: 100%!important;
  width: 100%!important;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell!important;
  vertical-align: middle!important;
}
.modal-content1 {
  background-color: white!important;
  width:inherit!important;
  height:inherit!important;
  margin: 0 auto!important;
}
.modal-header {
  padding: 0 !important;
}
.modal-header .close {
  margin-top: 21px !important;
  margin-right: 20px !important;
  color: #fff !important;
  font-size: 30px !important;
 opacity: 0.9 !important;
}
.form-control{
  height: 41px !important;
}
.form-controlDati{
  height: 40px !important;
}

.tooltipErrore{
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.labelErrore{
  border-radius: 4px!important;
  color: #fff!important;
  background-color:#1995dc !important;
  font-size: 20px;
  padding-left: 15px!important;
}

.marginesopra{
  margin-top: 10px !important;
}

.marginesotto{
  margin-bottom: 10px !important;

}
.vertical-alignment-helper {
  display:table!important;
  height: 100%!important;
  width: 100%!important;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell!important;
  vertical-align: middle!important;
}
.modal-content1 {
  // background-color: white!important;
  width:inherit!important;
  height:inherit!important;
  margin: 0 auto!important;
}

.modal-header .close {
  margin-top: 21px !important;
  margin-right: 20px !important;
  color: #fff !important;
  font-size: 30px !important;
  opacity: 0.9 !important;
}
.modal-content1 .modal-body {
  overflow-y: auto;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.modal-header{
  background: #1995dc !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  padding: 9px !important;
}

.dropdown-menu > li > a:hover {
  background: #1995dc !important;
  color: #fff !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
  background: #ffffff !important;
}
.btn-primary {
  background: #1995dc !important;
}